
    <title>Trang quản trị</title>
  
    <link rel="stylesheet" type="text/css" href="css/style3.css">

    <div id="admin">
        <div class="container">
            <h1>Quản trị sản phẩm</h1>
            <table>
                <thead>
                    <tr>
                        <td>Tên sản phẩm</td>
                        <td>Số lượng đã bán</td>
                        <td>Thay đổi</td>
                    </tr>
                </thead>
                <tr target = 'sp1'>
                    <td>Iphone 12 promax</td>
                    <td>10000</td>
                    <td>
                        <a href="/change-product">Sửa</a>
                        <button id="sp1">Xóa</button>
                    </td>
                </tr>
                <tr target ="sp2">
                    <td>Quần áo</td>
                    <td>500</td>
                    <td>
                        <a href="/change-product">Sửa</a>
                        <button id="sp2">Xóa</button>
                    </td>
                </tr>
                <tr target="sp3">
                    <td>Bột giặt</td>
                    <td>10000</td>
                    <td>
                        <a href="/change-product">Sửa</a>
                        <button id="sp3">Xóa</button>
                    </td>
                </tr>
                <tr target="sp4">
                    <td>Đồ điện gia dụng</td>
                    <td>2000</td>
                    <td>
                        <a href="/change-product">Sửa</a>
                        <button id="sp4">Xóa</button>
                    </td>
                </tr>
                <tr target="sp5">
                    <td>Máy tính</td>
                    <td>3200</td>
                    <td>
                        <a href="/change-product">Sửa</a>
                        <button id="sp5">Xóa</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>



   
    <script src="js/app-admin.js"></script>
