
    <title>Trang sửa sản phẩm</title>
  
    <link rel="stylesheet" type="text/css" href="css/style3.css">

  
    <div id="change-sp">
     <div class="container">
        <form>
            <label for="name">Tên sản phẩm</label>
            <input type="text" id="name" name="name" placeholder="Tên sản phẩm"><br>
            <label for="sl">Số lượng</label>
            <input type="text" id="sl" name="sl" placeholder="Số lượng"><br><br>
            <button type="submit">Sửa</button>
        </form>
     </div>
    </div>

