<title>Tikitaka</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
	<div id="modal-ads" class="hidden1">
        <div id="modal1">
          <a>
			  <img src="https://salt.tikicdn.com/cache/w400/ts/banner/06/b0/95/5fe683f53674ebdb28b5db55fb1ec34b.png">
			  <i class="far fa-times"></i>
		  </a>
		</div>
	</div>
	
	<div class="container">
		<div id="banner">
			<div id="slider">
				<div id="slides">
					<img class="mySlides" target="slide1" src="img/1.jpg">
					<img class="mySlides" target="slide2" src="img/2.jpg">
					<img class="mySlides" target="slide3" src="img/3.jpg">
					<img class="mySlides" target="slide4" src="img/4.jpg">
					<img class="mySlides" target="slide5" src="img/5.jpg">
					<img class="mySlides" target="slide6" src="img/6.jpg">
				</div>
				<button id="prev"><i class="far fa-chevron-left"></i></button>
				<button id="next"><i class="far fa-chevron-right"></i></button>

			</div>
			<div id="right-img">
				<img src="img/7.jpg">
			</div>
		</div>
	</div>
	<div class="container">
		<div id="price-shock-today">
			<div id="price-flash">
				<div id="title-price">
					<img src="https://frontend.tikicdn.com/_desktop-next/static/img/giasoc.svg">
					<img src="https://frontend.tikicdn.com/_desktop-next/static/img/flash.gif">
					<img src="https://frontend.tikicdn.com/_desktop-next/static/img/homnay.svg">
				</div>
				<div id="time">
					<div>
					<div id="hour">2</div><span>:</span><div id="minute">59</div><span>:</span><div id="second">59</div>
					</div>
				</div>
			</div>
			<div id="price-product-list">
				<a href="/sp" id="price-product">
					<div id="product-img">
						<img
							src="https://salt.tikicdn.com/cache/200x200/ts/product/e1/66/c2/a233de7dca2fbff7bbc6f8476e6ba7bf.jpg">
						<span>-29%</span>
					</div>
					<div id="price">15.490.000 đ</div>
					<div id="bottom-price">
						<div id="space"></div>
						<span>Đã bán 1000+</span>
						<img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg">
					</div>
				</a>
				<a href="/sp" id="price-product">
					<div id="product-img">
						<img
							src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg">
						<span>-17%</span>
					</div>
					<div id="price">24.000.000đ</div>
					<div id="bottom-price">
						<div id="space"></div>
						<span>Đã bán 1000+</span>
						<img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg">
					</div>
				</a>
				<a href="#" id="price-product">
					<div id="product-img">
						<img
							src="https://salt.tikicdn.com/cache/280x280/ts/product/6a/4d/42/d7646eeba24f83208e45cdc6caad896f.jpg">
						<span>-29%</span>
					</div>
					<div id="price">143.000đ</div>
					<div id="bottom-price">
						<div id="space"></div>
						<span>Đã bán 3</span>
						<img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg">
					</div>
				</a>
				<a href="#" id="price-product">
					<div id="product-img">
						<img
							src="https://salt.tikicdn.com/cache/280x280/ts/product/78/c3/40/22ba236378b6cba8f4345fcbe26c5c02.jpg">
						<span>-29%</span>
					</div>
					<div id="price">143.000đ</div>
					<div id="bottom-price">
						<div id="space"></div>
						<span>Đã bán 3</span>
						<img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg">
					</div>
				</a>
				<a href="#" id="price-product">
					<div id="product-img">
						<img
							src="https://salt.tikicdn.com/cache/280x280/ts/product/e9/17/92/e3a742454bf887a88b495724de1c0eda.png">
						<span>-29%</span>
					</div>
					<div id="price">143.000đ</div>
					<div id="bottom-price">
						<div id="space"></div>
						<span>Đã bán 3</span>
						<img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg">
					</div>
				</a>
			</div>
		</div>
	</div>


	<div class="container">
		<div id="section-1">


			<a href="#">
				<div id="item">
					<img src="https://salt.tikicdn.com/ts/upload/73/50/e1/83afc85db37c472de60ebef6eceb41a7.png">
					<p>Mã giảm giá</p>
				</div>
			</a>

			<a href="#">
				<div id="item">
					<img src="https://salt.tikicdn.com/ts/upload/07/05/6d/dd5e7d873aa1960102a9508703f79333.png">
					<p>Nạp thẻ và tiền điện</p>
				</div>
			</a>


			<a href="#">
				<div id="item">
					<img src="https://salt.tikicdn.com/ts/upload/3e/2b/7f/fec6dfa6faf65343ae78b777f832332b.png">
					<p>Xả kho</p>
				</div>
			</a>


			<a href="#">
				<div id="item">
					<img src="https://salt.tikicdn.com/ts/upload/c2/da/13/638cc2dc09b1be2e148c0571a107281a.png">
					<p>Freeship</p>
				</div>
			</a>


			<a href="#">
				<div id="item">
					<img src="https://salt.tikicdn.com/ts/upload/52/50/73/0788d5207ec8b82e05859dfe953a4327.png">
					<p>Hoàn tiền 15%</p>
				</div>
			</a>


			<a href="#">
				<div id="item">
					<img src="https://salt.tikicdn.com/ts/upload/ce/ee/fe/a8a350727b38a1e20ce1610c5162fcb7.png">
					<p>Dành cho hội viên</p>
				</div>
			</a>


			<a href="#">
				<div id="item">
					<img src="https://salt.tikicdn.com/ts/upload/a9/58/39/872e4acbdb3576be53b57c05a386860b.png">
					<p>Hẹn giao và lắp đặt</p>
				</div>
			</a>


			<a href="#">
				<div id="item">
					<img src="https://salt.tikicdn.com/ts/upload/46/7e/06/64c9e7975b58b8953a74fe77dd4cb4b5.png">
					<p>Coupon 50%</p>
				</div>
			</a>


			<a href="#">
				<div id="item">
					<img src="https://salt.tikicdn.com/ts/upload/a0/0d/90/bab67b6da67117f40538fc54fb2dcb5e.png">
					<p>Thực phẩm tươi sống</p>
				</div>
			</a>

			<a href="#">
				<div id="item">
					<img src="https://salt.tikicdn.com/ts/upload/4a/b2/c5/b388ee0e511889c83fab1217608fe82f.png">
					<p>Ưu đãi đối tác</p>
				</div>
			</a>

		</div>
	</div>

	<div class="container">
		<div id="images">
			<div><a href="#"><img
						src="https://salt.tikicdn.com/cache/w295/ts/banner/0e/53/a9/7c0d2165d441d741304885aa3d59efc9.png.jpg"></a>
			</div>
			<div><a href="#"><img
						src="https://salt.tikicdn.com/cache/w295/ts/banner/cc/2a/04/8b7582e408c7af17512877aaf18ce480.png.jpg"></a>
			</div>
			<div><a href="#"><img
						src="https://salt.tikicdn.com/cache/w295/ts/banner/68/b7/5f/e460383680acb5ddeadf8da341d6dc26.png.jpg"></a>
			</div>
			<div><a href="#"><img
						src="https://salt.tikicdn.com/cache/w295/ts/banner/2e/d5/56/ff43961d5c16a203f80b44e4c5c66260.png.jpg"></a>
			</div>
		</div>
	</div>


	<div class="container">
		<div id="category">
			<div id="head-category">
				<h4>Danh mục sản phẩm</h4>
				<form>
					<label for="categorys">Chọn loại sản phẩm:</label>
					<select id="categorySelect" name="categorys">
						<option value="0" selected disabled>....</option>
						<option value="type0">Chăm sóc nhà cửa</option>
						<option value="type1">Trang trí nhà cửa</option>
						<option value="type2">Nội thất</option>
						<option value="type3">Thực phẩm</option>
						<option value="type4">Chăm sóc thú cưng</option>
						<option value="type5">Thiết bị gia đình</option>
						<option value="type6">Điện thoại-Máy tính bảng</option>
						<option value="type7">Đồ uống pha chế</option>
						<option value="type8">Sửa chữa nhà cửa</option>
						<option value="type9">Đồ dùng nhà bếp</option>
						<option value="type10">Đồ dùng phòng ngủ</option>
					</select>
				</form>
			</div>
			
			<div id="product-category">
				<div id="category-item" target="type0">
					<div><a href="#"><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/64/b2/85/ecdc5e04f12e3311447ab0e6b57e735c.jpg">
							<p>Chăm sóc nhà cửa</p>
						</a></div>
				</div>
				<div id="category-item" target="type1">
					<div><a href="#"><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/c9/46/bc/74b65e04af07f83e52416abb68985f98.jpg">
							<p>Trang trí nhà cửa</p>
						</a></div>
				</div>
				<div id="category-item" target="type2">
					<div><a href="#"><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/21/38/ab/ac8e85d0d1654f1f299f0a67f4cf9fe8.jpg">
							<p>Nội thất</p>
						</a></div>
				</div>
				<div id="category-item" target="type3">
					<div><a href="#"><img
								src="https://salt.tikicdn.com/ts/category/f6/42/49/6cd7598ae44e5794f39acd16acf71ad9.png">
							<p>Thực Phẩm</p>
						</a></div>
				</div>
				<div id="category-item" target="type4">
					<div><a href="#"><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/7a/01/db/9281ea81cb586233c5f343cf00321b82.jpg">
							<p>Chăm sóc thú cưng</p>
						</a></div>
				</div>
				<div id="category-item" target="type5">
					<div><a href="#"><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/db/15/b1/4a64eeedd11301506fe5c3ee9e4b4a88.jpg">
							<p>Thiết bị gia đình</p>
						</a></div>
				</div>
				<div id="category-item" target="type6">
					<div><a href="/sp"><img
								src="https://salt.tikicdn.com/ts/category/93/27/e3/192b0ebe1d4658c51f9931bda62489b2.png">
							<p>Điện thoại-máy tính bảng</p>
						</a></div>
				</div>
				<div id="category-item" target="type7">
					<div><a href="#"><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/4c/80/ad/c8227915f45f5541598d2177b90898b5.jpg">
							<p>Đồ uống-Pha chế</p>
						</a></div>
				</div>
				<div id="category-item" target="type8">
					<div><a href="#"><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/07/2a/9f/f827733c48227f3779e6c829a4177bf4.jpg">
							<p>Sửa chữa nhà cửa</p>
						</a></div>
				</div>
				<div id="category-item" target="type9">
					<div><a href="#"><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/65/7c/80/6c37dc817e76ec149e2f2a8ec20f9977.jpg">
							<p>Đồ dùng nhà bếp</p>
						</a></div>
				</div>
				<div id="category-item" target="type10">
					<div><a href="#"><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/4c/80/ad/c8227915f45f5541598d2177b90898b5.jpg">
							<p>Đồ dùng phòng ngủ</p>
						</a></div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="highlight">
			<div id="highlight-heading">
				<div id="heading-left">
					<h4><img src="https://salt.tikicdn.com/ts/upload/c5/0e/02/23066556738e7f5df8b8fde5d0d1dfd6.png">Tìm
						kiếm nổi bật</h4>
				</div>
				<div id="heading-right">
					<a href="#"><img
							src="https://salt.tikicdn.com/ts/upload/b2/14/5f/811ab1cf876d0e9d9a3de7c886ca7c59.png"><span>Xem
							thêm</span></a>
				</div>
			</div>
			<div id="highlight-item">
				<a href="#">
					<div id="highlight-img">
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/ce/12/0f/91df57dd67e8e654a12624a6964af1d5.jpg">
						</div>
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/1a/4d/83/990c2534cb4570474fe996af65531767.jpg">
						</div>
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/f8/17/6e/6cb3598db5292eff3024f7b8161de73b.jpg">
						</div>
					</div>
					<div id="highlight-text">
						<p>Mì indomie</p>
						<span>110 sản phẩm</span>
					</div>
				</a>
				<a href="#">
					<div id="highlight-img">
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/d2/6a/89/5367538295b00a49cbb213e8d73a9a02.jpg">
						</div>
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/26/10/65/c14083f62b54fd4705107838ca93c83d.jpg">
						</div>
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/4a/d1/ec/b487dbc6b0d2935719c4975c1e5c84bb.jpg">
						</div>
					</div>
					<div id="highlight-text">
						<p>Đồng hồ treo tường trang trí</p>
						<span>1k+ sản phẩm</span>
					</div>
				</a>
				<a href="#">
					<div id="highlight-img">
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/40/9c/13/7058c020dac5415960cb427fc10181db.JPG">
						</div>
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/83/13/0f/a6b7d52ae16e82f15950e3b16aa866e5.jpg">
						</div>
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/fe/be/1d/d46ae56d6426fef7f8b07cb7336d6401.jpg">
						</div>
					</div>
					<div id="highlight-text">
						<p>Nước xả</p>
						<span>334 sản phẩm</span>
					</div>
				</a>
				<a href="#">
					<div id="highlight-img">
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/c3/68/87/8624cebb0404bc0e89922b80567bfd0f.jpg">
						</div>
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/b2/c9/30/5d507fc0cd8ac4340605f0a8b9dfd526.jpg">
						</div>
						<div><img
								src="https://salt.tikicdn.com/cache/280x280/ts/product/28/b0/f7/4eddcd026657c2f318d141d61a49c117.jpg">
						</div>
					</div>
					<div id="highlight-text">
						<p>Trà xanh</p>
						<span>110 sản phẩm</span>
					</div>
				</a>
			</div>
		</div>

	</div>

	<div class="container">
		<div id="images-1">
			<div><a href="#"><img
						src="https://salt.tikicdn.com/cache/w394/ts/banner/0c/2c/63/d0366e5a1692c85d68cc4d4e729ae745.png.jpg"></a>
			</div>
			<div><a href="#"><img
						src="https://salt.tikicdn.com/cache/w394/ts/banner/a2/aa/1d/567d4eb5aaf9fbab42da2ac7bfec3016.png.jpg"></a>
			</div>
			<div><a href="#"><img
						src="https://salt.tikicdn.com/cache/w394/ts/banner/43/18/ea/6e7ea2101fb7c8d861c1a85676f0c734.png.jpg"></a>
			</div>
		</div>
	</div>

	<div id="footer-1">
		<div class="container">
			<div id="footer-2">
				<div id="footer-3">
					<div id="img-footer">
						<img src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/newsletter.png">
					</div>
					<div id="text-footer">
						<p>Đăng kí nhận bản tin tiki</p>
						<p>Đừng bỏ lỡ ngàn sản phẩm và ưu đãi siêu hấp dẫn</p>
					</div>
				</div>
				<form>
					<input type="text" name="" placeholder="Địa chỉ email của bạn">
					<button type="submit">Đăng ký</button>
				</form>
			</div>
		</div>
	</div>
	
	<script src="js/app-home.js"></script>
