
	<title>Chi tiết sản phẩm</title>
	
	<link rel="stylesheet" type="text/css" href="css/style2.css">
 <div id="ct-sp">
     <div class="container">
      <div>
          <div id="left">
             <div id="img-main">
               <img src="https://salt.tikicdn.com/cache/400x400/ts/product/86/dd/0c/11d4a7aa14e6a7a384df5b910cd1ae68.jpg">
               <div id="freeship-img"><img src="https://salt.tikicdn.com/ts/upload/dc/0d/49/ef9dc5d8164bd62b011e54276502b342.png"></div>
             </div>

             <ul>
                 <li><a href="#"><img src="https://salt.tikicdn.com/cache/100x100/ts/product/86/dd/0c/11d4a7aa14e6a7a384df5b910cd1ae68.jpg"></a></li>
                 <li><a href="#"><img src="https://salt.tikicdn.com/cache/100x100/ts/review/d5/05/86/2bb099d4038625987ff50cb0ddbbc1c9.jpg"></a></li>
                 <li><a href="#"><img src="https://salt.tikicdn.com/cache/100x100/ts/review/d5/ea/7f/0c5e873bbf4c6b014fc2938ccd034008.jpg"></a></li>
                 <li><a href="#"><img src="https://salt.tikicdn.com/cache/100x100/ts/review/09/18/ae/b1f27bf6f737403579037fbb1e7920df.jpg"></a></li>
                 <li><a href="#"><img src="https://salt.tikicdn.com/cache/100x100/ts/review/db/cd/df/61e21c2820115d1fd08e08cdc03d2b90.jpg"></a></li>
             </ul>

             <div id="share">
                <div>
               <span>Chia sẻ:</span>
               <div>
                   <div><a href="#"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-facebook.svg"></a></div>
                   <div><a href="#"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-messenger.svg"></a></div>
                   <div><a href="#"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-pinterest.svg"></a></div>
                   <div><a href="#"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-twitter.svg"></a></div>
                   <div><a href="#"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-copy.svg"></a></div>
               </div>
               <div id="stick"></div>
               <div>
                   <a href="#">
                    <i class="far fa-heart"></i>
                    <span>Thích</span>
                   </a>
               </div>
               </div>
             </div>
          </div>
        <div id="right">
        <p>Điện Thoại iPhone 12 Pro Max 256GB - Hàng Chính Hãng</p>
        <div id="rate">
        <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
        <a href="#"><span>(Xem 174 đánh giá)</span></a>
        <div id="stick2"></div>
        <span>Đã bán hơn 1000+</span>
        </div>
        
        <div id="price">
            <div><span id="price1">31.250.000 đ</span> <span id="price2">37.990.000 đ</span> <span id="sale">-18%</span></div>
            <a href="#">
                <img id="img1" src="https://salt.tikicdn.com/ts/upload/7b/17/f7/4860983e93ea3c264ae0d932c58ec4f7.png">
                <span>Hoàn tiền 15% tối đa 600k/tháng</span>
                <img class="img" src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/question.svg">
            </a>
            <a href="">
              <img id="img2" src="https://salt.tikicdn.com/ts/upload/21/b3/00/bab4964906fcb6c56d57d9d69a6b2995.png">
              <span>Miễn phí vận chuyển</span>
              <img class="img" src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/question.svg">
            </a>
        </div>

        <div id="color">
            <span>Màu: Xám</span>
            <div>
                <div>
                    <a href="#">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/product/27/55/4e/c9089692a19179dbde1aa007855f9c36.jpg">
                    <span>Bạc</span>
                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/selected-variant-indicator.svg">
                    </a>
                </div>
                <div>
                    <a href="#">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/product/14/f0/60/9ef6497f38bb2e3409c04a676be75ab5.jpg">
                    <span>Vàng</span>
                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/selected-variant-indicator.svg">
                    </a>
                </div>
                <div>
                    <a href="#">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/product/b0/39/57/52d83e01441f316b269fa830c04066e5.jpg">
                    <span>Xanh dương</span>
                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/selected-variant-indicator.svg">
                    </a>
                </div>
                <div>
                    <a href="#">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/product/86/dd/0c/11d4a7aa14e6a7a384df5b910cd1ae68.jpg">
                    <span>Xám</span>
                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/selected-variant-indicator.svg">
                    </a>
                </div>
            </div>
            

        </div>
        <div id="size">
      <span>Kích cỡ:256GB</span>
     <div>
         <span>256GB</span>
         <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/selected-variant-indicator.svg">
     </div>
        </div>

        <div id="choose">
         <span>Số lượng</span>
         <div><span id="minus"><i class="fas fa-minus"></i></span><span id="num">0</span><span id="plus"><i class="fas fa-plus"></i></span></div>
        </div>
        <button type="submit">Chọn mua</button>
      </div>
      
     </div>

 </div>

 <div id="list-product">
     <h1>Sản phẩm tương tự</h1>
 <div class="container">
    <div class="product">
        <a href="#">
          <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
          <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
          <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
          <div id="rate-sp">
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
            <div id="td"></div>
            <span>Đã bán 25</span>
          </div>
          <div id="price">
            <span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
          </div>
        </a>
       </div>
       <div class="product">
        <a href="#">
            <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
          <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
          <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
          <div id="rate-sp">
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
            <div id="td"></div>
            <span>Đã bán 1000+</span>
          </div>
          <div id="price">
            <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
          </div>
        </a>
       </div>
       <div class="product">
        <a href="#">
            <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
          <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
          <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
          <div id="rate-sp">
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
            <div id="td"></div>
            <span>Đã bán 1000+</span>
          </div>
          <div id="price">
            <span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
          </div>
        </a>
       </div>
       <div class="product">
        <a href="#">
            <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
          <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
          <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
          <div id="rate-sp">
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
            <div id="td"></div>
            <span>Đã bán 495</span>
          </div>
          <div id="price">
            <span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
          </div>
        </a>
       </div>
       <div class="product">
        <a href="#">
          <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
          <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
          <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
          <div id="rate-sp">
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
            <div id="td"></div>
            <span>Đã bán 25</span>
          </div>
          <div id="price">
            <span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
          </div>
        </a>
       </div>
 </div>
 </div>
  

 <div id="info-sp">
 <div class="container">
  <h1>Thông tin chi tiết</h1>
  <div>
  <table>
      <tr>
          <td>Thương hiệu</td>
          <td>Apple</td>
      </tr>
      <tr>
        <td>Xuất xứ thương hiệu</td>
        <td>Trung Quốc</td>
    </tr>
    <tr>
        <td>Chip đồ họa (GPU)</td>
        <td>Apple GPU (4-core graphics)</td>
    </tr>
    <tr>
        <td>Chip set</td>
        <td>Apple A14 Bionic (5 nm)</td>
    </tr>
    <tr>
        <td>Đèn Flash</td>
        <td>Có</td>
    </tr>
    <tr>
        <td>Kích thước</td>
        <td>160.8 x 78.1 x 7.4 mm</td>
    </tr>
    <tr>
        <td>Hỗ trợ 4G</td>
        <td>LTE-A (4CA) Cat16 1024/150 Mbps</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>iphone 12 Pro Max 128g</td>
    </tr>
    <tr>
        <td>Cổng sạc</td>
        <td>Lightning</td>
    </tr>
<var></var>
  </table>
  </div>
 </div>
 </div>


<div id="comment">
<div class="container">
 <div id ="comment1" class="person">
	<div>
	<div class="avatar">TD</div>
	<p>Tran Duc Dien</p>
	</div>
	<p>Sản phẩm tốt , chính hãng , thiết kế đẹp.....</p>
 </div>
 <div id ="comment1" class="person">
	<div>
	<div class="avatar">NA</div>
	<p>Nguyen Tuan Anh</p>
	</div>
	<p>Hàng giao rất nhanh. Mình đặt và thanh toán hqua thì hôm nay đã nhận được luôn. Cảm ơn TikiTaka ^^</p>
 </div>

 <form id="content-cmt">
		<label for="name">Họ và tên</label>
		<input type="text" id="name" name="name"><br>
		<label for="email">Email</label>
		<input type="email" id="email" name="email"><br><br>
		<label for="content">Viết bình luận</label><br>
		<textarea name="content" id="content" cols="30" rows="10"></textarea>
		<p id="notification"></p>
	    <button type="submit">Gửi phản hồi</button>
 </form>
 </div>
</div>
    

	
	<script src="js/app-product.js"></script>
</body>

</html>