<title>Danh mục sản phẩm</title>
<link rel="stylesheet" type="text/css" href="css/style1.css">

<div id="list-product">
<div class="container">
<div id="left">
 <h2>Danh mục sản phẩm</h2>
 <span><a href="#">Điện thoại smartphone</a></span>
 <span><a href="#">Bao da-Ốp lưng điện thoại Iphone</a></span>
 <span><a href="#">Bao da-Ốp lưng điện thoại khác</a></span>
 <span><a href="#">Bao da-Ốp lưng điện thoại Asus</a></span>
 <div class="anbot">
 <span><a href="#">Miếng dán màn hình điện thoại</a></span>
 <span><a href="#">Bao da-ốp lưng</a></span>
 </div>
 <a id="seemore" href="#"><span>Xem thêm</span><div></div></a>


 <div id="address">
 <h2>Địa chỉ nhận hàng</h2>
 <p>Bạn muốn giao hàng tới đâu ?</p>
 <a href="#">Nhập địa chỉ</a>
 </div>

<div id="service">
<h2>Dịch vụ</h2>
<input type="checkbox"><span>Giao siêu tốc 2h</span><br>
<input type="checkbox"><span>Không giới hạn</span><br>
<input type="checkbox"><span>Rẻ hơn hoàn tiền</span>
</div>

<div id="rate">
    <a href="#"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>Từ 5 sao</a>
    <a href="#"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i id ="highlight1" class="fas fa-star"></i>Từ 4 sao</a>
    <a href="#"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i id ="highlight2" class="fas fa-star"></i><i id ="highlight3" class="fas fa-star"></i>Từ 3 sao</a>
</div>
</div>
<div id="right">
    <div id="tab">
		<div id="head-tab">
		<ul id="tab-top">
		  <li toggle="content1"><a target="content1" href="#">Phổ biến</a></li>
		  <li toggle="content2"><a target="content2" href="#">Bán chạy</a></li>
		  <li toggle="content3"><a target="content3" href="#">Hàng mới</a></li>
		  <li toggle="content4"><a target="content4" href="#">Giá thấp</a></li>
		  <li toggle="content5"><a target="content5" href="#">Giá cao</a></li>
		</ul>
		<form>
			<label for="product-name">Tên sản phẩm:</label>
			<input id="productName" name="product-name" type="text" placeholder="Nhập tên sản phẩm cần tìm">
		</form>
		</div>
		<div id="tabContent">
         <div class="content1">
		   <div>
           <div class="product" target="name1">
            <a href="/product">
              <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/73/dc/f2/6ae142a7a82126c1bdae5e6fbd816641.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span class="nameProduct" id="name1">Ốp lưng Iphone12</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 25</span>
			  </div>
			  <div id="price">
                <span id="price-sp">219.000 đ</span> <span id="reduce">-50%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name2">
            <a href="/product">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/14/f0/60/1ceceef2a9a64bef35e415ab1c3635e0.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name2">Điện thoại Iphone12 Promax</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 1000+</span>
			  </div>
			  <div id="price">
                <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name3">
            <a href="/product">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/e1/66/c2/47859ea06eb4b00ad41bbe81636e4373.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name3">Điện thoại Iphone11 Pro</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 1000+</span>
			  </div>
			  <div id="price">
                <span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name4">
            <a href="/product">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b0/39/57/cdce3bcbefd3a319be3847bf73ad2f84.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name4">Iphone12 Pro 128GB</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 495</span>
			  </div>
			  <div id="price">
                <span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name5">
			<a href="/product">
			  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span class="nameProduct" id="name5">Samsung Galaxy M31</span>
			  <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 25</span>
			  </div>
			  <div id="price">
				<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name6">
			<a href="/product">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span class="nameProduct" id="name6">Iphone 12 Promax Red</span>
			  <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 1000+</span>
			  </div>
			  <div id="price">
				<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name7">
			<a href="/product">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span class="nameProduct" id="name7">Iphone 11 Promax Green</span>
			  <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 1000+</span>
			  </div>
			  <div id="price">
				<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name8">
			<a href="#">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span class="nameProduct" id="name8">Iphone 12 Pro Gray</span>
			  <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 495</span>
			  </div>
			  <div id="price">
				<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name3">
            <a href="product.html">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/e1/66/c2/47859ea06eb4b00ad41bbe81636e4373.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name3">Điện thoại Iphone11 Pro</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 1000+</span>
			  </div>
			  <div id="price">
                <span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name4">
            <a href="product.html">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b0/39/57/cdce3bcbefd3a319be3847bf73ad2f84.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name4">Iphone12 Pro 128GB</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 495</span>
			  </div>
			  <div id="price">
                <span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name3">
            <a href="product.html">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/e1/66/c2/47859ea06eb4b00ad41bbe81636e4373.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name3">Điện thoại Iphone11 Pro</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 1000+</span>
			  </div>
			  <div id="price">
                <span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name4">
            <a href="product.html">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b0/39/57/cdce3bcbefd3a319be3847bf73ad2f84.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name4">Iphone12 Pro 128GB</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 495</span>
			  </div>
			  <div id="price">
                <span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name1">
            <a href="product.html">
              <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/73/dc/f2/6ae142a7a82126c1bdae5e6fbd816641.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span class="nameProduct" id="name1">Ốp lưng Iphone12</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 25</span>
			  </div>
			  <div id="price">
                <span id="price-sp">219.000 đ</span> <span id="reduce">-50%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name2">
            <a href="product.html">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/14/f0/60/1ceceef2a9a64bef35e415ab1c3635e0.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name2">Điện thoại Iphone12 Promax</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 1000+</span>
			  </div>
			  <div id="price">
                <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name1">
            <a href="product.html">
              <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/73/dc/f2/6ae142a7a82126c1bdae5e6fbd816641.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span class="nameProduct" id="name1">Ốp lưng Iphone12</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 25</span>
			  </div>
			  <div id="price">
                <span id="price-sp">219.000 đ</span> <span id="reduce">-50%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name2">
            <a href="product.html">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/14/f0/60/1ceceef2a9a64bef35e415ab1c3635e0.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name2">Điện thoại Iphone12 Promax</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 1000+</span>
			  </div>
			  <div id="price">
                <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name1">
            <a href="product.html">
              <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/73/dc/f2/6ae142a7a82126c1bdae5e6fbd816641.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span class="nameProduct" id="name1">Ốp lưng Iphone12</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 25</span>
			  </div>
			  <div id="price">
                <span id="price-sp">219.000 đ</span> <span id="reduce">-50%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name2">
            <a href="product.html">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/14/f0/60/1ceceef2a9a64bef35e415ab1c3635e0.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name2">Điện thoại Iphone12 Promax</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 1000+</span>
			  </div>
			  <div id="price">
                <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name1">
            <a href="product.html">
              <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/73/dc/f2/6ae142a7a82126c1bdae5e6fbd816641.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span class="nameProduct" id="name1">Ốp lưng Iphone12</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 25</span>
			  </div>
			  <div id="price">
                <span id="price-sp">219.000 đ</span> <span id="reduce">-50%</span>
			  </div>
			</a>
		   </div>
		   <div class="product" target="name2">
            <a href="product.html">
				<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/14/f0/60/1ceceef2a9a64bef35e415ab1c3635e0.jpg"></div>
			  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
			  <span><span class="nameProduct" id="name2">Điện thoại Iphone12 Promax</span>-Hàng chính hãng</span>
              <div id="rate-sp">
				<div class="star">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				</div>
				<div id="td"></div>
				<span>Đã bán 1000+</span>
			  </div>
			  <div id="price">
                <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
			  </div>
			</a>
		   </div>

         </div>
		 </div>


		 <div class="content2">
			<div>
				<div class="product">
				 <a href="#">
				   <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 25</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 495</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
			</div>
		 </div>
		 <div class="content3">
			<div>
				<div class="product">
				 <a href="#">
				   <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/73/dc/f2/6ae142a7a82126c1bdae5e6fbd816641.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Ốp lưng MagSafe trong suốt CYKE hỗ trợ MagSafe cho Iphone12</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 25</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">219.000 đ</span> <span id="reduce">-50%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/14/f0/60/1ceceef2a9a64bef35e415ab1c3635e0.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/e1/66/c2/47859ea06eb4b00ad41bbe81636e4373.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b0/39/57/cdce3bcbefd3a319be3847bf73ad2f84.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 495</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				<div class="product">
				 <a href="#">
				   <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/73/dc/f2/6ae142a7a82126c1bdae5e6fbd816641.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Ốp lưng MagSafe trong suốt CYKE hỗ trợ MagSafe cho Iphone12</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 25</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">219.000 đ</span> <span id="reduce">-50%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/14/f0/60/1ceceef2a9a64bef35e415ab1c3635e0.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/e1/66/c2/47859ea06eb4b00ad41bbe81636e4373.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b0/39/57/cdce3bcbefd3a319be3847bf73ad2f84.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 495</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				</div>
		 </div>
		 <div class="content4">
			<div>
				<div class="product">
				 <a href="#">
				   <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 25</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 495</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				</div>
		 </div>
		 <div class="content5">
			<div>
				<div class="product">
				 <a href="#">
				   <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/73/dc/f2/6ae142a7a82126c1bdae5e6fbd816641.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Ốp lưng MagSafe trong suốt CYKE hỗ trợ MagSafe cho Iphone12</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 25</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">219.000 đ</span> <span id="reduce">-50%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/14/f0/60/1ceceef2a9a64bef35e415ab1c3635e0.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/e1/66/c2/47859ea06eb4b00ad41bbe81636e4373.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b0/39/57/cdce3bcbefd3a319be3847bf73ad2f84.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 495</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
					<a href="#">
					  <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/dc/6d/b9/ead3173c9800f1b65cb8d62a73ede8e5.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Samsung Galaxy M31 (6GB/128GB)-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 25</span>
					  </div>
					  <div id="price">
						<span id="price-sp">4.790.000 đ</span> <span id="reduce">-26%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/81/73/6c/4ccc8f968ae0029142282a50f8a724a0.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b7/94/b3/3d9fab684dbad6604e398a93b38383de.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 1000+</span>
					  </div>
					  <div id="price">
						<span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
					  </div>
					</a>
				   </div>
				   <div class="product">
					<a href="#">
						<div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/0f/4a/19/e2c1e692c76e5aeb99baa2dcef13cdcb.jpg"></div>
					  <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
					  <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
					  <div id="rate-sp">
						<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						</div>
						<div id="td"></div>
						<span>Đã bán 495</span>
					  </div>
					  <div id="price">
						<span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
					  </div>
					</a>
				   </div>
				<div class="product">
				 <a href="#">
				   <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/73/dc/f2/6ae142a7a82126c1bdae5e6fbd816641.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Ốp lưng MagSafe trong suốt CYKE hỗ trợ MagSafe cho Iphone12</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 25</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">219.000 đ</span> <span id="reduce">-50%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/14/f0/60/1ceceef2a9a64bef35e415ab1c3635e0.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">28.250.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/e1/66/c2/47859ea06eb4b00ad41bbe81636e4373.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 1000+</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">20.690.000 đ</span> <span id="reduce">-23%</span>
				   </div>
				 </a>
				</div>
				<div class="product">
				 <a href="#">
					 <div id="img"><img src="https://salt.tikicdn.com/cache/200x200/ts/product/b0/39/57/cdce3bcbefd3a319be3847bf73ad2f84.jpg"></div>
				   <div id="logotiki"><img src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png"></div>
				   <span>Điện thoại Iphone12 Pro Max 128GB-Hàng chính hãng</span>
				   <div id="rate-sp">
					 <div class="star">
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 <i class="fas fa-star"></i>
					 </div>
					 <div id="td"></div>
					 <span>Đã bán 495</span>
				   </div>
				   <div id="price">
					 <span id="price-sp">25.790.000 đ</span> <span id="reduce">-17%</span>
				   </div>
				 </a>
				</div>
				</div>
		 </div>
		</div>
	</div>
</div>
</div>
</div>
	
		

	


	
	<script src="js/app-sp.js"></script>
